body {
  padding: 0px;
}

.app-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

.app-dashboard-top-nav-bar  {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c3840;
  height: 55px;
  width: 100%;
  flex: 0 0 55px;
}

.app-dashboard-top-nav-bar .menu-icon {
  vertical-align: text-bottom;
}

.app-dashboard-logo {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.app-dashboard-search-bar-container {
  position: relative;
}

.app-dashboard-search {
  background: lighten(#2c3840, 10%);
  border: 0;
  margin-bottom: 0;
  color: #fff;
}

.app-dashboard-search:active {
  background: darken(#2c3840, 5%);
}

.app-dashboard-search:focus {
  background: darken(#2c3840, 5%);
}

.app-dashboard-search-icon {
  position: absolute;
  color: #fff;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.app-dashboard-top-bar-actions {
  align-items: center;
  display: flex;  
}

.app-dashboard-top-bar-actions button {
  margin-bottom: 0;
  margin-right: 2rem;
}

.app-dashboard-top-bar-actions button.hollow {
  border-color: #fff;
  color: #fff;
}

.app-dashboard-top-bar-actions button.hollow:hover {
  background: #fff;
  color: #2ba6cb;
}

.app-dashboard-top-bar-actions .fa-info-circle {
  color: #fff;
  font-size: 1.5rem;
}

.app-dashboard-sidebar {
  background-color: #fff;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  transition: all 1 1;
}

.app-dashboard-sidebar .app-dashboard-open-sidebar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.app-dashboard-sidebar .app-dashboard-close-sidebar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.app-dashboard-sidebar .app-dashboard-sidebar-close-button {
  font-size: 14px;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a {
  align-items: center;
}

.app-dashboard-sidebar .fa.large {
  font-size: rem-calc(24);
  width: 40px;
}

.reveal-for-medium .app-dashboard-open-sidebar {
  display: none;
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  transition: all 1 1;
  overflow-y: auto;
  flex: 1 1 0;
  padding: 20px;
  background-color: #fff;
}

.bar-graph {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: rem-calc(25) 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  flex: 1 1 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #222;
  position: relative;
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: rem-calc(30);
  position: absolute;

  span {
    font-size: rem-calc(30);
  }
}

.bar-graph .percent span {
  font-size: rem-calc(30);
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: rem-calc(16);
  overflow: hidden;
}

.bar-graph .bar {
  border: 1px solid #111;
  background: #999;
}