{
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": ["last 2 Firefox versions", "last 2 Chrome versions"],
      "exclude": [],
      "debug": true,
      "modules": false
    }]
  ]
}