{
  "presets": [
    ["@babel/preset-env", {
      "targets": ["last 2 Firefox versions", "last 2 Chrome versions"],
      "exclude": [],
      "debug": false,
      "useBuiltIns": "usage",
      "corejs": 3,
      "modules": false
    }]
  ]
}